.project_creator_name
{position:absolute;
max-height:30px;
max-width:800px;
min-width:0px;
background:white;
top:10px;
left:20px;
font-size:20px;
color:gray;
border-radius:10px;
padding:10px;
}
.logout
{
position:absolute;
top:10px;
left:90%;
max-height:25px;
max-width:100px;
background:white;
color:white;
font-size:20px;
padding:10px;
border-radius:10px;
}
.top_container
{
position:absolute;
top:50px;
left:0px;
background:gainsboro;
height:40px;
width:100%;
padding-top:10px;
padding-bottom:50px;

}


.project_table_cover
{
position:relative;
top:360px;

color:black;
width:100%;
height:100%;

}
.project_table{
  position:relative;
background:gainsboro;
color:black;
width:65%;
left:15%;
padding-left:50px;
padding-right:50px;
border-radius:10px;
border-color:black;

    
    
}



.create_project_button
{
position:absolute;
top:150px;
left:40%;
height:150px;
max-width:150px;
border-radius:10px;
font-size:30px;
color:white;
}







.create_project_form
{position:absolute;
top:310px;
left:32%;
background:gainsboro;
border-radius:10px;
padding:10px;
}

.create_button
{background:red; border-radius:5px;height:30px;}





.separator
{
height:2px;
background-color:white;
width:100%;

}

.row
{height:50px;}

td.edit
{width:100px;}


td.delete
{width:100px;}