body
{
margin:0px;
padding:0px;
background:ghostwhite;
}

.head
{
display:block;
position:absolute;
left:0px;
top:0px;
height:40px;
width:100%;
z-index:30;

}

.loginplate
{
display:block;
position:absolute;
left:50%;
top:40px;
height:500px;
width:300px;
display:none;
margin-left: -150px;
}

.logos{
	
	display:block;
        
        position:absolute;
        bottom:50px;
        width:800px;
        left:25%;
       
       
	z-index:-1000;
	
}


.logosimg{
   
    float:left;
   
	height:50px;
        
	
}





.main_logo
{
display:block;
position:absolute;
top:150px;
left:50%;
height:auto;
width:250px;
margin-left:-125px;


}




.logo
{
display:block;
position:absolute;
left:30px;
top:9px;
height:25px; 
width:150px;
}


table.tablelogin
{
display:block;
position:absolute;
left:20px;
top:250px;
color:white;
}



.inbtn
{
display:block;
position: absolute;
top: 40px;
left: 50%;
height: 15px;
width: 50px;
margin-left:-25px;
z-index: 20;

}




.foot
{
display:block;
position:absolute;
height:40px;
width:100%;
bottom:0px;
left:0px;
background:black;
z-index:-100;

}

